
.dropdown{
    margin: 0 auto;
}
nav{
    height: 90px;
    background:rgb(255, 255, 255);
    box-shadow: 0px  0px 0.1px ;
    position:fixed;
    width: 100%;
    box-shadow: 0px 0px 18px 0px #00000029
}
.logo{
    padding:5px 0 0 10px ;
    width: 200px;
    height: 60px;
}
nav ul{
    padding: 0;
    margin-top: 10px;
    float:right;
    margin-right: 0px;
}
nav ul li{
    width: 200px;
   background:white ;
    position:relative;
    list-style:none;
    display:inline-block;
    text-align: center;
  
}
nav ul li a{
    display:contents;
    margin: 0%;
    padding:0px ;
    color: black;
   line-height:60px;
    font-size:20px ;
  text-decoration:none;

 
   
}
nav ul li a:hover{
    background: white;

}
nav ul ul {
    position:relative;
    top: 5px;
    display:none;
    text-align: center;
}
nav ul li:hover> ul{
    display: block;
}
nav ul ul li{
   
    float: none;
    display:block;
    position:relative;
}
 nav ul ul ul li{
    position: relative;
    top:px;
    left:px;

 }


 





 @media (max-width: 980px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 20px;
    }
    nav form{
      right: 30px;
    }
  }
  @media (max-width: 350px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 10px;
      font-size: 16px;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .content .space{
    margin: 10px 0;
  }



  /* inventory*/

  :root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #e3e8e6f1;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
    
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #e6f5ee,
      #e0e5e3,
      #c2c6c4,
      #f0f1f0,
      #e7ebe941
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .container-fluid px-4{
    margin-top: 100px ;
  }
  .col-md-3{
    padding:100px  ;
  }

  /* Overriding css of nav bootstrap  */
ul.navbar-nav.mb-2.mb-lg-0 {
  gap: 1rem;
  font-size: 20px;
  margin-right: 10px;
}

body{
  overflow-x: hidden;
}