@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav{
	display: flex;
	height: 90px;
    background:rgb(255, 255, 255);
    box-shadow: 0px  0px 0.1px ;
    position:fixed;
    width: 100%;
	float: right ;
	text-align: end;
	justify-content: space-between;
	
}
.logo{
    padding:5px 0 0 10px ;
    width: 200px;
    height: 60px;
}
nav ul{
    padding: 0;
    margin-top: 10px;
    float:left ;
    margin-right: 0px;
	text-align: end;
}
nav ul li{
    width: 200px;
    background:white ;
    position:relative;
    list-style:none;
    display:inline-block;
    text-align: center;
  
}
nav ul li a{
    display:contents;
    margin: 0%;
    padding:0px ;
    color: black;
   line-height:60px;
    font-size:20px ;
	float: right;
  text-decoration:none;
  
 
   
}
nav ul li a:hover{
    background: white;

}
nav ul ul {
    position:relative;
    top: 5px;
    display:none;
    text-align: center;
}
nav ul li:hover> ul{
    display: block;
}
nav ul ul li{
   
    float: left;
    display:block;
    position:relative;
}
 nav ul ul ul li{
    position: relative;
    top:px;
    left:px;

 }

.section{
	width: 100%;
	min-height: 100vh;
	background-color: #dddddd00;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#ffffff00;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}

.banner{
	min-height: 100vh;
	width: 100%;
	background-image: url("images/banner1.jpeg");
	background-size:cover ;
	background-attachment:relative;
	position: relative;
	
  }